node_modules
.next
.git
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
npm-debug.log
README.md
.env*
playwright-report
test-results
.auth
.claude
pnpm-workspace.yaml
tsconfig.json
tsconfig.tsbuildinfo
postcss.config.mjs
next-env.d.ts
next.config.mjs
