Django==6.0.6
djangorestframework==3.17.1
django-cors-headers==4.9.0
django-otp==1.7.0
environs==15.0.1
psycopg2-binary==2.9.12
gunicorn==26.2.0

# migrate_mongo management command only
pymongo==4.17.0
